* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #000;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background: url("https://source.unsplash.com/1600x900/?real-estate") no-repeat
    center center/cover;
  height: 70vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
}

.cta-button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.propy-ai,
.leaderboard,
.featured-listings {
  padding: 50px 0;
  text-align: center;
}

.propy-ai h2,
.leaderboard h2,
.featured-listings h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.leaderboard-content,
.listings {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.agent,
.listing {
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-links li {
  margin-left: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

/* ++++++++++++++++++++++++ */

.jss8 {
  color: white;
  width: 100%;
  display: flex;
  padding: 8px;
  position: relative;
  text-align: center;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 32px;
  padding-bottom: 8px;
  justify-content: center;
  background-color: black;
}
.jss14 {
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bTkfSS {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}
.css-9l3uo3 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* main */
main {
  max-width: 1400px;
  margin-top: 32px;
  min-height: calc(100vh - 200px);
  margin-left: auto;
  margin-right: auto;
}

/* NAVIGATIOM BAR IN THE CARD */
.jss15 {
  top: 0;
  z-index: 10;
  position: sticky;
  flex-grow: 1;
}

.jss32 {
  top: 63px;
  color: white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: #000000e8;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.jss33 {
  border: 5px solid #38a6fa;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: flex-start;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.jss36 {
  top: 15px;
  left: calc(100% - 15px);
  position: absolute;
  transform: translateX(-100%);
}
.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jss1 {
  position: relative;
}
.jss29 {
  background: transparent;
  box-shadow: none;
}
.jss27 {
  transition: all 0.2s ease-in-out;
}
@media (min-width: 600px) {
  .css-191lty2 {
    min-height: 64px;
  }
}

@media (min-width: 0px) and (orientation: landscape) {
  .css-191lty2 {
    min-height: 48px;
  }
}
@media (min-width: 600px) {
  .css-191lty2 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.css-191lty2 {
  position: relative !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
}
img {
  height: 28px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.jss16 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.jss17 {
  display: flex;
}
.jss22 {
  margin-right: 48px;
}
.jss18 {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hovered-propy-blue {
  transition: all 0.2s ease-in-out;
}
.jss45 {
  font-size: 1.1rem;
}
.css-1anx036 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.jss19 {
  opacity: 0.4;
}
.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bTkfSS {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}
.jss23 {
  margin-right: 16px;
}
.jss18 {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hovered-propy-blue {
  transition: all 0.2s ease-in-out;
}
.jss38 {
  color: inherit;
  display: flex;
  align-items: center;
}
.inherit-color {
  color: inherit;
}
.no-decorate {
  text-decoration: none;
}
.jss21 {
  opacity: 0.4;
  margin-right: 8px;
}
.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jss45 {
  font-size: 1.1rem;
}
.css-1anx036 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.bTkfSS {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}
.css-11bqe20 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-height: auto;
  min-width: 40px;
  width: auto;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(55, 166, 251);
  font-size: 1rem;
  font-weight: 600;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  padding: 0px 16px;
}
.jss32 {
  top: 63px;
  color: white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: #000000e8;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.jss33 {
  border: 5px solid #38a6fa;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: flex-start;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.jss36 {
  top: 15px;
  left: calc(100% - 15px);
  position: absolute;
  transform: translateX(-100%);
}
/* CARD */
.jss1 {
  position: relative;
}
.jss54 {
  transform: translateY(-64px);
}
.jss60 {
  margin-bottom: 100px;
}
.jss62 {
  width: 100%;
  height: 550px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 15px;
  background-size: cover;
  justify-content: space-between;
}
.jss78 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.jss76 {
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: darken;
  background-size: contain;
  background-repeat: no-repeat;
}
.cloud-scroller > div {
  /* background-image: url('https://propy.com/home/static/media/lead-mid-double.5438baf39f3c6c1812fe.webp'); */
  -webkit-animation: cloudMoveKeyframes 140s linear infinite;
  animation: cloudMoveKeyframes 140s linear infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition-duration: 5s;
  width: 4200px;
}
.jss74 {
  top: calc(100%);
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translateY(-100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.jss65 {
  z-index: 10;
  max-width: 520px;
  margin-top: 32px;
  margin-left: 96px;
}
.jss69 {
  margin-bottom: 32px;
}
.css-uqgi7q {
  margin: 0px;
  font-family: Inter;
  line-height: 1;
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.00833em;
}
.css-zq6grw {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.jss67 {
  width: 100%;
  z-index: 2;
  max-width: 410px;
  margin-top: 32px;
  margin-right: 96px;
}
.jss80 {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  justify-content: center;
}
.jss82 {
  padding: 16px;
}
.jss81 {
  width: 100%;
  max-width: 410px;
  backdrop-filter: blur(5px);
  background-color: #ffffffa1;
}
.css-1jd3i2y {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
  overflow: hidden;
}
.jss86 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jss84 {
  margin-bottom: 16px;
}
.css-1e1eahh {
  line-height: 1;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  letter-spacing: 0.00735em;
  margin: 0px;
}
.jss87 {
  width: 100%;
  margin-top: 16px;
}
.css-2g2h5 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-height: auto;
  min-width: 40px;
  width: auto;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 65, 65);
  font-size: 1rem;
  font-weight: 600;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  padding: 0px 16px;
}

/* Propy AI */
@media (min-width: 1200px) {
  .css-1qsxih2 {
    max-width: 1200px;
  }
}
@media (min-width: 600px) {
  .css-1qsxih2 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.css-1qsxih2 {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}
/* .sdfasd {
    position: absolute;
    top: 0;
    left: 0;
    width: 50rem;
} */

.css-3m65ns {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  /* background-color: rgb(55, 166, 251); */
  /* background: #ffffff8c !important; */
  backdrop-filter: blur(10px) !important;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}
.jss6 {
  max-width: 1400px;
  margin-top: 32px;
  /* min-height: calc(100vh - 200px); */
  margin-left: auto;
  margin-right: auto;
}

/* / Nav + banner End */

/* Section Propy AI */
.jss59 {
  margin-bottom: 100px;
}
.jss94 {
  width: 100%;
  position: relative;
}
.jss95 {
  z-index: 2;
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}
.jss96 {
  margin-bottom: 8px;
}

.jss98 {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.jss99 {
  aspect-ratio: 16 / 9;
  border-radius: 15px;
}
.jss12 {
  margin: 0px;
  font-family: Inter;
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0em;
}

/* The Future of Homebuying is Now Section */
.jss61 {
  margin-bottom: 32px;
  width: 100%;
  position: relative;
}
.jss100 {
  width: 100%;
  position: relative;
}
.jss101 {
  z-index: 2;
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}
.jss102 {
  margin-bottom: 8px;
}
.css-zq6grw {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.css-isbt42 {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  margin-top: -16px;
  width: calc(100% + 16px);
  margin-left: -16px;
}
.css-isbt42 > .MuiGrid-item {
  padding-left: 16px;
}
.css-isbt42 > .MuiGrid-item {
  padding-top: 16px;
}
.jss105 {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}
.jss115 {
  width: 100%;
  position: relative;
}
.jss116 {
  width: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.jss107 {
  border: 3px solid transparent;
}
.bTkfSS {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: inherit;
}
.css-1jluznr {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: inherit;
  width: 100%;
}
.css-gai9c {
  padding: 16px;
  border-radius: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.css-jo3ec3 {
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  background-color: currentcolor;
  overflow: hidden;
  border-radius: inherit;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}
.jss111 {
  max-width: 150px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.jss113 {
  /* width: 100%; */
  margin-top: 16px;
  font-weight: bold;
}
.css-1tibyd1 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.jss114 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: center;
}
.css-t1nuxs {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.jss112 {
  display: -webkit-box;
  overflow: hidden;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.css-18m8r0v {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}
.css-1uxiwhh {
  margin: 0px;
  font-family: Inter;
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0em;
}
.jss102 {
  margin-bottom: 8px;
}
.css-zq6grw {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

/* Over $4 billion in transactions processed with Propy partners across the USA */
.jss121 {
  display: flex;
  padding: 16px;
  max-width: 640px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #eee;
}

.css-1r3oxu4 {
  box-shadow: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}

/* agent_leader_dashboard */
.agent_leader_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 2rem auto;
  width: 100%;
  /* padding: 2rem 0rem; */
}
.agent_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.agent_card {
  width: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border-radius: 15px;
  overflow: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14);
}
.agent_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5px;
}

.agent_details .name {
  font-weight: bold;
  font-size: 1.28rem;
}
.agent_details .details {
  font-weight: 400;
  font-size: 1.2rem;
}

.price_data {
  margin: 0px;
  margin-left: 2rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  font-weight: bold;
  color: white;
  align-items: center;
  padding-top: 4px;
  padding-left: 16px;
  border-radius: 24px;
  padding-right: 16px;
  padding-bottom: 4px;
  justify-content: center;
  background-color: rgba(0, 123, 218, 1);
}
.agent_card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.blure_bg {
  backdrop-filter: blur(5px) !important;
  background-color: #ffffffa1 !important;
}
.css-191lty2 {
  border-radius: 16px;
  background: #ffffff8c !important;
  backdrop-filter: blur(10px) !important;
}

/* Featured Listings */
.villas_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}
.villa_card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
}
.villa_card .details {
  display: flex;
  flex-direction: column;
}
.villa_card .details .t {
  font-size: 24px;
  font-weight: bold;
}
.villa_card .details .st {
  font-size: 14px;
}
.vilass_icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.villa_card .details .ddetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.villa_card .details .ddetails .icon {
  max-width: 14px;
  max-height: 14px;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.villa_card .details .btn {
  margin-top: 1rem;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: rgb(239, 239, 239);
  color: rgb(17, 17, 17);
  width: fit-content;
  font-size: 12px;
}

.villa_card img {
  height: 250px;
  width: 324px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
.jss152 {
    display: flex;
    margin-top: 32px;
    justify-content: center;
}
.bTkfSS {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: inherit;
}
